<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <p>
        <label for="amount">Length:</label>
        <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
      </p>
      <div id="slider-range"></div>
      <div class="btn-group-vertical" role="group" aria-label="...">
        <a type="button" class="btn btn-default">Crime</a>
        <a type="button" class="btn btn-default">Drama</a>
        <a type="button" class="btn btn-default">Thriller</a>
        <a type="button" class="btn btn-default">Adventure</a>
        <a type="button" class="btn btn-default">Fantasy</a>
        <a type="button" class="btn btn-default">Mistery</a>
        <a type="button" class="btn btn-default">Comedy</a>
        <a type="button" class="btn btn-default">Talk-Show</a>
        <a type="button" class="btn btn-default">Animation</a>
        <a type="button" class="btn btn-default">Action</a>
        <a type="button" class="btn btn-default">Sci-Fi</a>
        <a type="button" class="btn btn-default">Horror</a>
        <a type="button" class="btn btn-default">Reality-TV</a>
        <a type="button" class="btn btn-default">Documentary</a>
        <a type="button" class="btn btn-default">News</a>
        <a type="button" class="btn btn-default">History</a>
        <a type="button" class="btn btn-default">Romance</a>
      </div>
    </div>
    <div class="col-md-4">
      <div ng-repeat="serie in best track by $index">
        <div class="col-md-3">
          <img src="{{ serie.photo }}" alt="{{ serie.title }}" height="150" width="100">
          <h3>{{ serie.like }}</3>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div ng-repeat="serie in worst track by $index">
        <div class="col-md-4">
          <img src="{{ serie.photo }}" alt="{{ serie.title }}" height="150" width="100">
          <h3>{{ serie.dislike }}</3>
        </div>
      </div>
    </div>
  </div>
</div>