<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/tv_series/best" style="color:white;">The best tv</a></li>
      </ul>
      <a class="navbar-brand title" style="color:white;" href="/">findmetv</a>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2">
      
      <div ng-controller="SeriesBestCtrl">
        <div class="btn-group" dropdown on-toggle="toggled(open)">
          <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
            Button dropdown <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
      </div>


      <div class="btn-group">
        <button type="button" class="btn btn-default btn-lg dropdown-toggle button1" data-toggle="dropdown" aria-expanded="false">
          By length <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Short</a></li>
          <li><a href="#">Average</a></li>
          <li><a href="#">Long</a></li>
        </ul>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-lg dropdown-toggle button2" data-toggle="dropdown" aria-expanded="false">
          By category <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a type="button" class="btn btn-default">Crime</a></li>
          <li><a type="button" class="btn btn-default">Drama</a></li>
          <li><a type="button" class="btn btn-default">Thriller</a></li>
          <li><a type="button" class="btn btn-default">Adventure</a></li>
          <li><a type="button" class="btn btn-default">Fantasy</a></li>
          <li><a type="button" class="btn btn-default">Mistery</a></li>
          <li><a type="button" class="btn btn-default">Comedy</a></li>
          <li><a type="button" class="btn btn-default">Talk-Show</a></li>
          <li><a type="button" class="btn btn-default">Animation</a></li>
          <li><a type="button" class="btn btn-default">Action</a></li>
          <li><a type="button" class="btn btn-default">Sci-Fi</a></li>
          <li><a type="button" class="btn btn-default">Horror</a></li>
          <li><a type="button" class="btn btn-default">Reality-TV</a></li>
          <li><a type="button" class="btn btn-default">Documentary</a></li>
          <li><a type="button" class="btn btn-default">News</a></li>
          <li><a type="button" class="btn btn-default">History</a></li>
          <li><a type="button" class="btn btn-default">Romance</a></li>
        </ul>
      </div>
   </div>
    <div class="col-xs-10 col-sm-10 col-md-6 col-lg-6">
      <div ng-repeat="serie in best track by $index">
        <div class="col-xs-6 col-sm-4">
          <img class="bestImage" src="{{ serie.photo }}" alt="{{ serie.title }}">
          <h3><i class="fa fa-2x fa-caret-up"></i> {{ serie.like }}</h3>
        </div>
      </div>
    </div>
    <div class="col-xs-offset-2 col-xs-10 col-sm-10 col-md-6 col-lg-6">
      <div ng-repeat="serie in worst track by $index">
        <div class="col-xs-6 col-sm-4">
          <img class="bestImage" src="{{ serie.photo }}" alt="{{ serie.title }}">
          <h3><i class="fa fa-2x fa-caret-down"></i> {{ serie.dislike }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>