<div class="container-fluid">
  <div class="row">
    <div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <img src="{{ serie.photo }}" alt="{{ serie.title }}" height="600" width="400">
          </div>
          <div class="col-xs-12 col-md-4">
            {{ serie.title }}
            <i class="fa fa-caret-up"></i>{{ serie.like }}
            <i class="fa fa-caret-down"></i>{{ serie.dislike }}
            <i class="fa fa-star"></i>{{ serie.rating }}
            {{ serie.length }}
            {{ serie.years }}
            {{ serie.recap }}
            <a href="#" target="_blank">{{ serie.category }}</a>
            <a href="#" target="_blank">{{ serie.category2 }}</a>
            <a href="#" target="_blank">{{ serie.category3 }}</a>
            {{ serie.cast }}
            <a href="{{ serie.link }}" target="_blank">Imdb</a> 
          </div>
          <div class="col-xs-12 col-md-4">
            <dir-disqus disqus-shortname="findmetv"
              disqus-identifier="{{ serie.title }}"
              disqus-url="{{ serie.link }}">
            </dir-disqus>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>