<nav class="navbar navbar-default navbar-fixed-top" ng-hide="seriesLike.length == 0">
  <div class="container showResultFirst">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/tv_series/best" style="color:white;">The best tv</a></li>
      </ul>
      <a class="navbar-brand title" style="color:white;" href="/">findmetv</a>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 thumbnail">
              <img src="{{ serie.photo }}" alt="{{ serie.title }}">
          </div>
          <div class="col-xs-12 col-sm-6 seriesBox">
            <h1 class="theTitle border">{{ serie.title }}</h1>
            <div class="border">
              <span>
                <div class="length col-xs-6">{{ serie.length }}min</div>
                <a class="stars" href="{{ serie.link }}" target="_blank"><i class="fa fa-star"></i>{{ serie.rating }}</a>
              </span>
            </div>
            <p class="border recap">{{ serie.recap }}</p>
            <p class="border cast">{{ serie.cast }}</p>
            <div class="border category">
              <span>
                <a href="#" target="_blank">{{ serie.category }}</a>
                <a href="#" target="_blank">{{ serie.category2 }}</a>
                <a href="#" target="_blank">{{ serie.category3 }}</a>
              </span>
            </div>
            <div class="border">
              <span class="likesDislikes">
                <i class="fa fa-caret-up"></i>{{ serie.like }}
                <i class="fa fa-caret-down"></i>{{ serie.dislike }}
              </span>
            </div>
            <p class="border borderBottom">{{ serie.years }}</p>
          </div>
          <div class="col-xs-offset-1 col-xs-10">
            <dir-disqus disqus-shortname="findmetv"
              disqus-identifier="{{ serie.title }}"
              disqus-url="{{ serie.link }}">
            </dir-disqus>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>