<div class="container-fluid">
  <div class="row hideResult">
    <div class="col-xs-6">
      <h1>findmetv</h1>
      <h2>Are you bored to death and have no idea what show to watch next? findmetv is your ultimate resource for tv shows discovery!</h2>
    </div>
  </div>
  <div class="row hideResult">
    <div class="col-xs-6">
      <div class="input-group">
        <input type="text" class="form-control inputSerie" placeholder="{{ placeholder }}" ng-model="seriesTitle">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="getseries()">Go!</button>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2" ng-repeat="serie in series track by $index">
      <img ng-src="{{ serie.photo }}" alt="{{ serie.title }}" height="300" width="200">
      <h3>{{ serie.title }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="showResult col-xs-6">You Should Watch</div>
    <div class="showNoRecom col-xs-6">You can try watching</div>
  </div>
  <dic class="row">
    <div class="col-xs-3 showRecom1">
      <img ng-src="{{ first.photo }}" alt="{{ first.title }}" height="300" width="200">
      <h3>{{ first.title }}</h3>
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </div>
    <div class="col-xs-3 showRecom2">
      <img ng-src="{{ second.photo }}" alt="{{ second.title }}" height="300" width="200">
      <h3>{{ second.title }}</h3>
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </div>
    <div class="col-xs-3 showRecom3">
      <img ng-src="{{ third.photo }}" alt="{{ third.title }}" height="300" width="200">
      <h3>{{ third.title }}</h3>
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </div>
    <div class="col-xs-3 showRecom4">
      <img ng-src="{{ fourth.photo }}" alt="{{ fourth.title }}" height="300" width="200">
      <h3>{{ fourth.title }}</h3>
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </div>
    <div class="col-xs-2 showNoRecom" ng-repeat="serie in noRecom track by $index">
      <img ng-src="{{ serie.photo }}" alt="{{ serie.title }}" height="300" width="200">
      <h3>{{ serie.title }}</h3>
    </div>
  </div>
</div>