// Place all the styles related to the series controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
  background-color: #3020C8;
}

.title {
  font-family: SignPainter;
  font-size: 35px;
}

.navbar-nav >li >a {
  font-size: 16px;
  border: 1px solid white;
  border-radius: 15px;
  padding: 8px;
  margin-top: 6px;
}

.navbar-nav >li >a:hover, .title:hover {
  opacity: 0.5;
}

.container-fluid {
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

