.row {
  text-align: center;
}

@media (min-width: 992px) {
  h1 {
    padding-top: 6%;
    font-size: 200px;
    font-family: SignPainter;
  }
}

@media (max-width: 991px) {
  h1 {
    padding-top: 3%;
    font-size: 100px;
    font-family: SignPainter;
  }  
}

.heading {
  padding-bottom: 20px;
}

.blue-button {
  background-color: #3020C8;
  color: white;
  font-size: 20px;
  border-color: #3020C8;
}

.inputSerie {
  font-size: 20px;
  height: 42px;
  color: #3020C8;
  border-color: #3020C8;
}

.inputMargin {
  margin-bottom: 35px;
}

.rightTitle {
  text-align: right;
  border-top: dashed 1px black;
  padding-top: 10px;
}

.showTitle {
  text-align: left;
  border-bottom: dashed 1px black;
  padding-bottom: 10px;
  margin-top: -20px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.Watch {
  margin-top: 15px;
  margin-bottom: 10px;
}

.box {
  border: dashed 2px black;
  padding: 10px;
}

#members_dropdown {
  margin-top: 42px;
}

.angucomplete-selected-row {
  background-color: #4040d8;
}

.showRecom:hover {
  opacity: 0.5;
}